<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center">A/B Testing </h1>
			<nav class="text-center">
				<a class="btn btn-primary" routerLink="/page-a" routerLinkActive="active">Page A</a>
				<a class="btn btn-success" routerLink="/page-b" routerLinkActive="active">Page B</a>
			</nav>
			<router-outlet></router-outlet>

		</div>
	</div>
</div>